alias vim="nvim"
alias setclip="xclip -selection c"
alias getclip="xclip -selection c -o"
alias screencap="scrot '/tmp/screencap_%Y%m%d-%H%M%S_\$wx\$h.png' -s -e 'xclip -selection clipboard -target image/png -i \$f'"

case "$(basename "$(readlink -f /proc/$$/exe)")" in
	zsh) hr(){ printf '%0*d' "$(tput cols)" 0 | sed s/0/"${1:-_}"/g; };;
	bash) hr(){ printf '%0*d' "$COLUMNS" 0 | sed s/0/"${1:-_}"/g; };;
esac
