# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Rope project settings
.ropeproject

# Vim
*.swp
.netrwhist
.vim/bundle
.vim/doc/tags

# Neovim
.config/nvim/plugin

# Fontconfig
.fonts/.uuid

# Systemd
.config/systemd/user/*.wants

# Shell
.local_aliases
