rofi.width:		100
rofi.padding:		450
rofi.fullscreen: 	true
rofi.fixed-num-lines: 	true
rofi.bw:		0
rofi.location:		0
rofi.lines:		3
rofi.eh:		2
rofi.opacity:		85
rofi.font:		System San Francisco Display 18
! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.color-enabled: true
rofi.color-window: #2f343f, #2f343f, #2f343f
rofi.color-normal: #2f343f, #f3f4f5, #2f343f, #f3f4f5, #513a7f
rofi.color-active: #2f343f, #26bdd2, #2f343f, #26bdd2, #f3f4f5
rofi.color-urgent: #2f343f, #f28f2f, #2f343f, #f28f2f, #f3f4f5
